* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgrey;
}

.button-holder {
  width: 90%;
  height: 90px;
  /* background-color: green; */
  margin-right: auto;
  margin-left: auto;
}

.content-container {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 800px;
  /* background-color: brown; */
}

.gif-holder {
  float: left;
  /* background-color: blue; */
  width: 65%;
  height: 800px;
  margin-right: auto;
  margin-left: auto;
}

.search-holder {
  float: right;
  text-align: center;
  margin-top: 1.5em;
  margin-right: 2em;
  font-size: 25px;
}

.gif-style {
  margin: 1em 1em;
}

.search {
  width: 150px;
  margin-left: 1em;
  border: none;
  border-radius: 8px;
  height: 20px;
}

.btn {
  border-radius: 5px;
  padding: 6px 20px;
  border: none;
  background-color: rgb(66, 173, 209);
  margin-top: 1em;
  margin-left: 1em;
}